<!-- password reset form template -->

{% extends 'base.html' %}

{% block subtitle %}
    <h2>Reset Password</h2>
{% endblock %}

{% block sections %}
    <section>
        <form action="" method="post">
            {% csrf_token %}

            {% for field in form %}
                {% include 'base/field.html' %}
            {% endfor %}

            <div class="field">
                <button type="submit">Send Confirmation Link</button>
            </div>
        </form>
    </section>
{% endblock %}