<!-- single film with comments template -->

{% extends "base.html" %}

{% block subtitle %}
    {% if HTMLmode == 'film-create' %}
        <h2>New Film</h2>
    {% elif HTMLmode == 'film-update' %}
        <h2>Edit Film</h2>
    {% elif HTMLmode == 'film-delete' %}
        <h2>Delete Film</h2>
    {% else %}
        <h2>Film with Comments</h2>
    {% endif %}
{% endblock %}

{% block sections %}
    {% if HTMLmode == 'film-create' %}
        <section class="film-record">
            {% include 'films/film_form.html' %}
        </section>
    {% elif HTMLmode == 'film-update' and user and user == film.user %}
        <section class="film-record">
            {% include 'films/film_stamp.html' %}
            {% include 'films/film_form.html' %}
        </section>
    {% elif HTMLmode == 'film-update' and user and user.is_the_admin %}
        <section class="film-record">
            {% include 'films/film_stamp.html' %}
            {% include 'films/film_form.html' %}
        </section>
    {% elif HTMLmode == 'film-delete' and user and user == film.user %}
        <section class="film-record">
            {% include 'films/film_form_delete.html' %}
        </section>
        <section class="film-record">
            {% include 'films/film_record.html' %}
        </section>
    {% elif HTMLmode == 'film-delete' and user and user.is_the_admin %}
        <section class="film-record">
            {% include 'films/film_form_delete.html' %}
        </section>
        <section class="film-record">
            {% include 'films/film_record.html' %}
        </section>
    {% else %}
        <section class="film-record">
            {% include 'films/film_record.html' %}
        </section>
    {% endif %}

    {% for comment in records %}
        <section class="comment-record" id="{{ comment.id }}">
            {% if HTMLmode == 'comment-update' and curr_comment_id == comment.id and user and user == comment.user %}
                {% include 'films/comment_form.html' %}
            {% elif HTMLmode == 'comment-update' and curr_comment_id == comment.id and user and user.is_the_admin %}
                {% include 'films/comment_form.html' %}
            {% elif HTMLmode == 'comment-delete' and curr_comment_id == comment.id and user and user == comment.user %}
                {% include 'films/comment_form_delete.html' %}
            {% elif HTMLmode == 'comment-delete' and curr_comment_id == comment.id and user and user.is_the_admin %}
                {% include 'films/comment_form.html' %}
            {% else %}
                {% include 'films/comment_record.html' %}
            {% endif %}
        </section>
    {% endfor %}

    {% if HTMLmode == 'comment-create' and user and user.id %}
    <section class="comment-record" id="new">
        {% include 'films/comment_form.html' %}
    </section>
    {% endif %}

{% endblock %}